serviceAccountKey.json
*.json
*.key
*.pem
*.pkl
.env
node_modules/
.DS_Store
*.log
dist/
build/
.idea/
.vscode/
.firebase/
*.pyc
__pycache__/
*.pth
/local.properties
/android/app/google-services.json
